/* The fonts can be better you can try Proxima Nova or Avenir 
then for the colours check out colour wheel to see which colours 
are complementary */
* {
    margin: 0;
    margin-top: 2rem;
    padding: 0;
    font-family: 'proxima-nova', sans-serif;
    height: max-content;
    width: fit-content;
}
 
body{
    /* width: 1440px; */
    height: 1024px; 
    background-color: transparent;
    background:currentColor;
    background-repeat: no-repeat;
    background-blend-mode: luminosity;
}

.heading{
    text-align: center;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 40px;
    /* display: flex; */
    /* align-items: center; */
    letter-spacing: -0.02em;
    position: relative;
    left: 20rem;
    color:#30FF0F;
    border-style: 1px ridge green;
}
#mySelect{
    position: relative;
    top: 10rem;
    left: -12rem;
    padding: 20px;
    font-weight: 900;
}
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: rgb(240, 14, 14);
    color: #fff;
    text-align: center;
    border-radius: 10px;
    padding: 10px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }
.tooltip:hover .tooltiptext {
    visibility: visible;
  }
#barcode{
    font-family: 'Libre Barcode 128 Text';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    /* display: flex; */
    /* align-items: center; */
    /* text-align: center; */
    letter-spacing: -0.017em;
    color: peachpuff;
    position: relative;
    left: 93%;
    
    /* top: -30px; */
    margin-bottom: 2rem;
}
#container{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin-left: 180px;
    background-color:rgb(56, 45, 24);
    
}


#monday:hover{
    background-image: url(/images/chest.jpg);
    background-size:contain;
}
#tuesday:hover{
    background-image: url(/images/abs.jpg);
    background-size:cover;
}
#wednesday:hover{
    background-image: url(/images/chest.jpg);
    background-size:cover;
}
#thursday:hover{
    background-image: url(/images/legday.jpg);
    background-size:cover;
}
#friday:hover{
    background-image: url(/images/push-up.webp);
    background-size:cover;
}

.day{
    /* border: 2px solid yellow; */
    width: 20rem ;

    height: 20rem;
    margin-right: 16px;
    margin-top: 16px;
    background: hsla(51, 94%, 45%, 0.089);
    box-shadow:1px 2px 4px slategrey
    /* mix-blend-mode: color-dodge; */
    
     
}
img{
    /* height: 640; */
    width: 426;
}
.day>h2:hover{
    box-sizing: border-box;
}
.button:hover{
    background-color: dimgray;
    box-shadow: 2px 1px 3px #30FF0F;
}
.heading:hover{
    text-decoration:overline;
    text-decoration-style:solid;
    pointer-events:painted;
}
h2{
    font-family: 'Kalam';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 64px;
    text-align: center;
    letter-spacing: -0.017em;    
    color: peachpuff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.athlete{
    box-shadow: 9px 10px 2px peachpuff;
    border-style: groove;
}
button{
    position: relative;
    font-family: 'Karantina';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 73px;
    /* display: flex; */
    align-items: center;
    letter-spacing: -0.017em;
    left: 69px;
    top: 50px;
    border-radius: 55%;
    color: #FFFFFF;
    background: #000000;
    
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
table {
    display:list-item;
    position: relative;
    width: 100%;    
    border-collapse: collapse;
    font-size: 20px;    
    color: #FFFFFF;
    /* width: min-content; */
  }
  .weekday{
    position: relative;
    /* left: 35%; */
    width: 100%;
  }
  th{
    color: blue;
  }
  th, td, tfoot{
    border: 3px solid ; 
  }
.athlete ul li{
    color: orange;
    list-style:none;
    text-align: center;
    text-overflow: inherit;
    text-overflow:ellipsis;
    /* height: 10px; */
    
}
#countdown{
    background-color: whitesmoke;
    border-radius:30%;
    width:max-content;
    height: 50px;
    font-size: 32px;
    position: static;

}
.workout{
    /* background-clip: text; */
    /* -webkit-background-clip: text; */
    /* -webkit-text-fill-color: rgba(255,255,255,.1); */
    border-bottom: 10px blue solid;
    width: 50%;
    position: relative;
    /* left: 20%; */
    display: flex;
    font-size: 200%;
    font-style: italic;
}

th {
    font-family: ui-monospace;
}
    

.table-header{
    font-family: sans-serif;
    border-bottom: 2px blue solid;
}

.likes-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
  }
  
  .likes {
    font-size: 0.9rem;
    font-weight: 600;
  }
  
  .like-button {
    color: rgb(255, 127, 80);
    font-size: 1.5rem;
    border: none;
    background: none;
    transition: color 300ms;
    cursor: pointer;
    position: relative;
    top: 0;
}
  
  .like-button:hover {
    color: rgb(241, 71, 19);
  }
  
  .like-button:active {
    color: rgb(253, 159, 124);
  }
  
  .like-button:focus {
    outline: none;
  }